.takui-btnicon-inverted {
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  color: #34373f;
  font-weight: 700;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  padding: 0;
}
